[workspace]
members = [
    "programs/phantom-streams",
    "programs/phantom-streams-arcium",
    "encrypted-ixs"
]

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1
[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1
